body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fef6ff;
  color: #333;
}

header {
  background-color: #e0c3fc;
  text-align: center;
  padding: 30px;
}

h1 {
  margin: 0;
}

section {
  padding: 20px;
}

h2 {
  color: #a855f7;
}

.proyecto {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #a855f7;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: #9333ea;
}
.proyecto:hover {
  transform: scale(1.02);
  transition: 0.3s;
}